@import '~styles/variables';
@import '~styles/mixins';

.root {
  height: 100%;
}

.head {
  height: 88px;
  background: $grey1;
  border-top: 1px solid $grey2;
  border-bottom: 1px solid $grey2;
  padding: 19px 40px;
  display: flex;
  align-items: center;
}

.headLeft {
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  .title {
    font-weight: 600;
    font-size: 20px;
    color: $grey5;

    .itemCount {
      margin-left: 9px;
      font-size: 15px;
      font-weight: 300;
      color: $grey3;
    }
  }

  .titleDescription {
    font-size: 14px;
    font-weight: 300;
    color: $grey4;
    margin-top: 1px;
  }
}

.headRight {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;

  .button {
    @include button;
    margin-left: 10px;

    &.green {
      border-color: $accent;
      color: $accent;
      background: #fff;

      &:hover {
        background: $accent;
        color: #fff;

        svg {
          fill: #fff;
        }
      }

      svg {
        fill: $accent;
      }
    }
  }

  .menuDropdown {
    @include dropdown;
    top: 46px;
    right: 0;
  }
}

.table {
  height: calc(100% - 88px);

  .fieldName, .type, .description, .constraints, .permissions {
    display: flex;
    align-items: center;
    padding-right: 20px;
  }

  .fieldName {
    width: 166px;
  }

  .type {
    width: 173px;
  }

  .description {
    flex: 1;
  }

  .constraints {
    width: 208px;
  }

  .permissions {
    width: 208px;
  }

  .controls {
    width: 55px;
    display: flex;
    align-items: center;
  }

  .tableHead {
    font-size: 14px;
    font-weight: 600;
    color: $grey4;
    border-bottom: 1px solid $grey2;
    padding: 0 40px;
    height: 68px;
    display: flex;
    align-items: center;
  }

  .tableBody {
    overflow-y: scroll;
    height: calc(100% - 68px);
    padding-bottom: 60px;
  }
}
