@import '~styles/variables';
@import '~styles/mixins';

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 30;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scrollBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 600px;
  max-height: 100%;
  margin: 20px 0;
  background: #fff;
  border-radius: 6px;
  overflow: hidden;
}

.head {
  height: 81px;
  color: #fff;
  background: $accent;
  padding: 18px 22px;

  .title {
    font-weight: 600;
    font-size: 20px;
  }

  .subtitle {
    font-weight: 300;
    font-size: 14px;
  }
}

.body {
  padding: 33px 0;

  .rowBlock {
    background: $grey1;
    padding: 20px 0;
    margin: 10px 0;

    &.blue {
      background: $blue2;
    }
  }

  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    margin: 0 43px;

    .enumLeft {
      width: 120px;
      display: flex;
      justify-content: flex-end;
      font-weight: 600;
      font-size: 16px;
      color: $grey4;
    }

    .enumRight {
      width: 380px;

      & > div {
        border: 1px solid $grey3;
        border-radius: 4px;
      }
    }

    .left {
      width: 282px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-weight: 600;
      font-size: 16px;
      color: $grey4;

      svg {
        margin-left: 9px;
        fill: $grey2;
      }
    }

    .right {
      width: 205px;
      display: flex;
      align-items: center;
      font-weight: 600;
      font-size: 14px;
      color: $grey4;

      label {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 6px 0;

        input[type='checkbox'] {
          margin-right: 13px;
        }
      }

      input[type='text'] {
        width: 100%;
        border: 1px solid $grey3;
        border-radius: 4px;
        padding: 12px 19px;
        font-size: 12px;
        font-family: Monaco, monospace;
        background: none;

        @include placeholder {
          color: $grey3;
        }

        &:focus {
          border-color: $grey5;
        }
      }
    }
  }

  .modelName {
    font-family: Monaco, monospace;
    background: $grey1;
    color: $grey4;
    font-size: 12px;
    padding: 6px 12px;
    border-radius: 4px;
  }

  .reverseRelationSelection {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
    font-size: 15px;

    input {
      margin-right: 7px;
    }

    .relatedField {
      font-family: Monaco, monospace;
      color: $grey4;
      font-size: 12px;
      padding: 6px 12px;
      border-radius: 4px;
      background: rgba(0, 0, 0, 0.03);
      margin-left: 10px;
      cursor: pointer;

      &.selected {
        color: #fff;
        background: $accent-blue;
      }
    }
  }

  .relationPhrase {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    height: 110px;
    padding: 20px 0;

    & > div {
      margin: 0 5px;
    }

    .modelName {
      background: rgba(0, 0, 0, 0.03);
    }

    .select {
      text-align: center;
      margin: 0 12px;
      font-size: 14px;
      font-weight: 600;

      &.top {
        align-self: flex-start;
      }

      &.bottom {
        align-self: flex-end;
      }

      .option {
        color: $grey3;
        cursor: pointer;

        &:first-child {
          margin-bottom: 7px;
        }

        &:hover {
          color: $grey4;
        }

        &.selected {
          color: $accent-blue;
        }
      }
    }
  }

  .relationSchema {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0 30px;

    .modelName {
      margin: 0 20px;
    }

    svg {
      fill: $grey2;
    }

    .arrows {
      margin: 0 33px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .hidden {
        display: none;
      }

      .back {
        transform: scaleX(-1);
        svg {
          fill: $blue4;
        }
      }
    }
  }

  .reverseRelation {
    display: flex;
    justify-content: center;

    .button {
      background: $blue1;
      border-radius: 4px;
      font-weight: 300;
      font-size: 12px;
      color: $grey4;
      padding: 8px 12px;
      text-transform: uppercase;

      &:hover {
        background: $blue2;
      }

      .accent {
        color: $accent-blue;
        font-weight: 600;
        text-transform: none;
      }
    }
  }
}

.foot {
  height: 81px;
  padding: 22px;
  background: $grey1;
  display: flex;
  justify-content: flex-end;

  .button {
    @include button;
    margin-left: 10px;

    &.disabled {
      background: $grey2;
      color: $grey4;
      cursor: not-allowed;
      border-color: $grey2;

      &:focus {
        border-color: $grey4;
      }
    }

    &.green {
      border-color: $accent;
      background: $accent;
      color: #fff;

      &:hover, &:focus {
        color: $accent;
        background: #fff;
      }
    }
  }
}
