@import '~styles/variables';
@import '~styles/mixins';

.root {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.addRow {
  td {
    padding: 0 !important;
    font-weight: 500;
    background: #fff;

    &:first-child, &:last-child {
      padding: 17px !important;
    }
  }
}

.addButton {
  font-weight: 500 !important;
  font-size: 14px !important;
  text-transform: uppercase;
  background: #F3F3F3 !important;
  text-align: center !important;
  cursor: pointer;

  &:hover {
    color: #fff;
    background: $accent !important;
  }
}

.table {
  width: 100%;
  border-collapse: collapse;
  background: #FDFDFD;

  th, td {
    &:first-child {
      border-left: 0;
    }

    &:last-child {
      border-right: 0;
    }
  }

  thead {
    background-color: #C9C9DF;
  }

  th {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    padding: 9px;
    border-right: 1px solid #fff;
  }

  td.padding {
    padding: 17px;
  }

  td {
    border: 1px solid #D3D6E8;
    font-size: 13px;
    color: #9898AE;
    white-space: nowrap;

    &:last-child {
      text-align: right;

      span {
        cursor: pointer;
      }

      svg {
        fill: $blue-grey-dark;
      }
    }

    input, select {
      padding: 17px;
      width: 100%;
      height: 100%;
      border: 0;
      background: none;

      @include placeholder {
        color: #dadee2;
      }
    }
  }
}
