@import '~styles/variables';

.root {
  height: 100%;
}

.head {
  width: 100%;
  height: 64px;
  padding-top: 15px;
  background: $blue-grey;
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.tab {
  height: 100%;
  padding: 0 35px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  color: $blue-grey-dark;
  font-size: 13px;
  font-weight: 500;
}

.tabActive {
  background: #fff;
}

.delete {
  cursor: pointer;
  position: absolute;
  display: block;
  right: 22px;
  top: 26px;
}
