@import '~styles/variables';

.root {
  width: 100%;
  padding: 50px;
}

.add {
  color: $accent;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.table {
  width: 100%;
  margin-top: 30px;

  thead {
    border-bottom: 1px solid #E3E3E3;
  }

  th {
    font-size: 13px;
    font-weight: 500;
    color: $blue-grey-dark;
    text-align: left;
    text-transform: uppercase;
    padding: 22px 0;

    &:nth-child(2) {
      padding-left: 14px;
    }
  }

  tbody:before {
    content: '';
    display: block;
    height: 10px;
  }

  tr.disabled {
    opacity: 0.6;
  }

  td {
    font-size: 16px;
    padding: 14px 0;

    &:nth-child(1) {
      width: 35%;
    }

    &:nth-child(2) {
      width: 25%;

      .type {
        border: 2px solid #E7EEF5;
        border-radius: 5px;
        padding: 8px 12px;

        .cardinality {
          margin-left: 7px;
          padding: 2px 4px;
          background: #E7EEF5;
          font-size: 14px;
          border-radius: 4px;
        }
      }
    }

    &:nth-child(5) {
      width: 15%;
      text-align: right;
    }
  }
}
