@import '~styles/variables';

.root {
  width: 100%;
  height: 100%;
  background: $grey5;
  position: relative;
  overflow: hidden;
  color: #fff;

  a {
    color: #fff;
  }
}

.container {
  overflow-y: scroll;
  overflow-x: hidden;
  width: calc(100% + 17px);
  height: 100%;
  padding-bottom: 62px;
}

.listBlock {
  margin: 0 0 10px;
  padding: 27px 0;

  &.active {
    background: rgba(255, 255, 255, 0.05);
  }
}

.head {
  font-size: 12px;
  font-weight: 400;
  padding: 0 26px;
  display: flex;
  align-items: center;
  text-transform: uppercase;

  svg {
    fill: $grey2;
  }

  span {
    padding: 0 25px;
  }
}

.list {
  padding: 33px 0;
}

.listElement {
  width: 100%;
  height: 33px;
  display: flex;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 26px 0 70px;
  font-weight: 300;

  &:hover {
    background: rgba(255, 255, 255, 0.09);
  }

  &.listElementActive {
    font-weight: 400;
    background: rgba(255, 255, 255, 0.09);
    padding-left: 66px;
    border-left: 4px solid $accent;
  }

  .itemCount {
    color: $grey4;
    font-weight: 400;
  }
}

.gettingStarted {
  background: #238F50;
  padding: 30px 0;
  font-size: 14px;

  .gettingStartedList {
    padding: 20px 70px 0;
  }

  .gettingStartedStepDisabled, .gettingStartedStepActive, .gettingStartedStepDone {
    margin: 11px 0;
  }

  .gettingStartedStepDisabled a {
    color: rgba(255, 255, 255, 0.5);
    cursor: default;
  }

  .gettingStartedStepActive a {
    font-weight: 600;
  }

  .gettingStartedStepDone a {
    text-decoration: line-through;
  }

  .gettingStartedSkip {
    background: rgba(255, 255, 255, 0.1);
    padding: 9px 12px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background: #fff;
      color: $accent;
    }
  }
}

.add {
  margin: 0 0 0 70px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 9px 19px;
  display: inline-block;

  &:hover {
    background: #fff;
    color: $grey4;
  }
}

.foot {
  position: absolute;
  width: 100%;
  height: 62px;
  bottom: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  background: $grey6;

  &:hover {
    background: #363E3E;
  }

  span {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
  }

  svg {
    margin: 0 25px 0 26px;
    fill: #A3A6A7;
  }
}
