@import '~styles/variables';

.root {
  width: 100%;
  height: 100%;
  background: $blue-grey;
  position: relative;
}

.list {
  overflow: scroll;
  height: 100%;
  padding-bottom: 62px;
}

.head {
  font-size: 12px;
  font-weight: 500;
  color: $blue-grey-dark;
  padding: 29px 26px 23px;
  display: flex;
  align-items: center;
  text-transform: uppercase;

  svg {
    fill: $blue-grey-dark;
  }

  span {
    padding: 0 25px;
  }
}

.listElement {
  width: 100%;
  height: 35px;
  display: block;
  font-size: 14px;
  display: flex;
  align-items: center;
  padding: 0 0 0 70px;
  color: #3F4253;

  &.listElementActive {
    font-weight: 500;
    background: #E3E3F3;
    color: $accent;
    border-right: 6px solid $accent;
  }
}

.gettingStarted {
  background: #E5E5F8;
  padding: 20px 70px;
  font-size: 14px;

  .gettingStartedStepDisabled, .gettingStartedStepActive, .gettingStartedStepDone {
    margin: 11px 0;
  }

  .gettingStartedStepDisabled a {
    color: #CBCBE2;
  }

  .gettingStartedStepActive a {
    font-weight: 500;
  }

  .gettingStartedStepDone a {
    color: $accent;
    text-decoration: line-through;
  }

  .gettingStartedSkip {
    background: $blue-grey;
    padding: 9px 12px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background: #E87C7C;
      color: #fff;
    }
  }
}

.add {
  width: 100%;
  margin: 12px 0;
  padding: 0 0 0 70px;
  font-size: 14px;
  color: $blue-grey-dark;
  cursor: pointer;
}

.foot {
  position: absolute;
  background: #E5E5F8;
  border-top: 1px solid #E1E1F3;
  width: 100%;
  height: 62px;
  bottom: 0;
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    background: #E1E1F3;
  }

  span {
    color: #9292B2;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
  }

  svg {
    margin: 0 25px 0 26px;
  }
}
