:global {
  /*@import 'font-awesome.css';*/
  /*@import 'vendor/normalize';*/

  @font-face {
    font-family: 'dashboard';
    src: url('./fonts/dashboard-01.eot');
    src: url('./fonts/dashboard-01.eot') format('embedded-opentype'),
         url('./fonts/dashboard-01.woff') format('woff'),
         url('./fonts/dashboard-01.ttf') format('truetype'),
         url('./fonts/dashboard-01.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  html,
  body {
    background: #fff;
    height: 100%;
  }

  /**,*/
  /**:before,*/
  /**:after {*/
    /*box-sizing: inherit;*/
  /*}*/
}
