:global {
  @import '~normalize.css';
  @import url(https://fonts.googleapis.com/css?family=Roboto:400,500);

  html,
  body {
    background: #fff;
    height: 100%;
    font-family: 'Roboto', sans-serif;
  }

  a {
    text-decoration: none;
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
}
