$blue-grey: #F0F0F9;
$blue-grey-dark: #8989B1;
$accent-shade: #9FE9AE;

$accent: #00b861;
$accent-blue: #4A90E2;
$blue1: #FCFDFE;
$blue2: #EEF9FF;
$blue3: #DDF2FA;
$grey1: #FBFBFB;
$grey2: #E4E4F4;
$grey3: #B9B9C8;
$grey4: #70738C;
$grey5: #2B3236;
$grey6: #192121;
