@import '~styles/variables';

.root {
  height: 100%;
  overflow: hidden;

  .head {
    height: 100px;
    background: $blue-grey;
    border-top: 1px solid $blue-grey-dark;
    border-bottom: 1px solid $blue-grey-dark;

    .title {
      padding-top: 22px;
      margin-left: 40px;
      font-weight: bold;
    }

    .tabs {
      display: flex;
    }

    .tab {
      color: $grey3;
      margin-top: 22px;
      margin-left: 40px;
    }

    .tabActive {
      color: $accent;
      border-bottom: 4px solid $accent;
    }
  }
}
