@import '~styles/variables';

.root {
  margin-left: 40px;
  margin-top: 44px;

  .category {
    margin-top: 16px;

    .title {
      font-weight: bold;
    }

    .field {
      padding-left: 11px;
      margin-top: 11px;
      width: 400px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
  }

  .saveChanges {
    margin: 0 0 0 70px;
    color: #fff;
    background: $accent;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 9px 19px;
    display: inline-block;
  }


}
