@import '~styles/variables';

.head {
  height: 88px;
  background: $grey1;
  border-top: 1px solid $grey2;
  border-bottom: 1px solid $grey2;
  padding: 19px 40px;
  display: flex;
  align-items: center;
}

.headLeft {
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  .title {
    font-weight: 600;
    font-size: 20px;
    color: $grey5;

    .itemCount {
      margin-left: 9px;
      font-size: 15px;
      font-weight: 300;
      color: $grey3;
    }
  }

  .titleDescription {
    font-size: 14px;
    font-weight: 300;
    color: $grey4;
    margin-top: 1px;
  }
}

.headRight {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .button {
    padding: 10px 19px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    display: flex;
    align-items: center;
    border: 1px solid $grey4;
    border-radius: 4px;
    margin-left: 10px;
    color: $grey4;
    cursor: pointer;

    &:hover {
      background: #fff;
      color: $grey5;
      border-color: $grey5;

      svg {
        fill: $grey5;
      }
    }

    span {
      margin-left: 11px;
    }

    svg {
      fill: $grey4;
    }

    &.green {
      border-color: $accent;
      color: $accent;
      background: #fff;

      &:hover {
        background: $accent;
        color: #fff;

        svg {
          fill: #fff;
        }
      }

      svg {
        fill: $accent;
      }
    }
  }
}

.table {
  .fieldName, .type, .description, .constraints, .permissions {
    display: flex;
    align-items: center;
    padding-right: 20px;
  }

  .fieldName {
    width: 166px;
  }

  .type {
    width: 173px;
  }

  .description {
    flex: 1;
  }

  .constraints {
    width: 208px;
  }

  .permissions {
    width: 208px;
  }

  .tableHead {
    font-size: 14px;
    font-weight: 600;
    color: $grey4;
    border-bottom: 1px solid $grey2;
    padding: 24px 40px;
    display: flex;
  }
}
