@import '~styles/variables';
@import '~styles/mixins';

.root {
  @include cellborder($grey2);
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
