@import '~styles/variables';

.tether {
  margin-top: 20px;
  background: $accent;
  color: #fff;
  padding: 12px 16px;
  border-radius: 5px;
  font-size: 14px;
  line-height: 20px;

  &:before {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    left: 0;
    content: ' ';
    margin-left: 13px;
    position: absolute;
  }

  &.bottom:before {
    margin-top: 20px;
    border-bottom: 10px solid $accent;
    top: -10px;
  }

  &.top:before {
    margin-bottom: -20px;
    border-top: 10px solid $accent;
    bottom: 10px;
  }
}

