@import '~styles/variables';

.root {
  height: 100%;
}

.header {
  background: $blue-grey;
  height: 66px;
}

.main {
  height: calc(100% - 66px);
}

.sidenav {
  width: 300px;
  height: 100%;
  float: left;
}

.content {
  width: calc(100% - 300px);
  height: 100%;
  float: left;
}
