@import '~styles/variables';
@import '~styles/mixins';

.root {
  background: $accent;
  width: 300px;
  height: 66px;
}

.dropdown {

  &:before {
    color: #fff;
    @include icon;
    content: "a";
  }
}
