@import '~styles/variables';

.root {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 880px;
  text-align: center;
  transform: translate(-50%, -50%);
  margin-top: -70px;
  background: rgba(255, 255, 255, 0.5);
  padding: 20px 0;

  h2 {
    margin: 10px 0 52px;
    font-weight: 100;
    font-size: 40px;
  }

  p {
    font-size: 19px;
    line-height: 28px;
    color: #8A8A8E;
    margin-bottom: 25px;
  }

  .buttons {
    margin-top: 90px;
  }

  .emoji {
    font-size: 69px;
    margin-bottom: 30px;
  }

  .social {
    display: flex;
    justify-content: center;
  }

  .twitter {
    margin: 0 10px 0 0;
    display: block;
  }
}

.button {
  margin: 0 13px;
  display: inline-block;
  padding: 17px 30px;
  font-size: 19px;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;

  &.green {
    color: #fff;
    background: $accent;
  }

  &.grey {
    color: #8A8A8E;
    background: #F0EFEF;
  }
}

.step {
  margin-top: -70px;
  width: 840px;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;

  &.blurred {
    filter: blur(15px);
  }

  h2 {
    margin: 10px 0 40px;
    font-weight: 100;
    font-size: 40px;
  }

  p {
    font-size: 19px;
    line-height: 28px;
    color: #8A8A8E;
    margin-bottom: 25px;
  }

  .text {
    width: 460px;
  }

  .image {
    width: 210px;
  }

  .instructions {
    width: 100%;
    display: flex;
    margin-top: 20px;

    h3 {
      font-size: 19px;
      color: #8A8A8E;
      font-weight: normal;
      margin-bottom: 30px;

      a {
        color: $accent;
        font-weight: 500;
      }
    }

    .step1, .step2 {
      text-align: center;
    }

    .step1 {
      width: 40%;
    }

    .step2 {
      width: 60%;
    }

    .field {
      margin-top: 8px;
      display: inline-block;
      padding: 12px 21px;
      background: #F3F3F3;
      font-size: 13px;
      font-family: Consolas, Inconsolata, 'Droid Sans Mono', Monaco, monospace;
    }
  }

  .status {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 0;
  }
}

.pagination {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 123px;

  span {
    display: inline-block;
    margin: 0 10px;
    width: 11px;
    height: 11px;
    border: 1px solid #E3E3E3;
    border-radius: 50%;

    &.active {
      border: 0;
      background: $accent;
    }
  }
}

/*.progressBarBackground {*/
/*margin: 40px 0 0;*/
/*width: 100%;*/
/*height: 5px;*/
/*background: #E9E9F3;*/
/*}*/

/*.progressBar {*/
/*height: 100%;*/
/*padding: 0 0 0 40px;*/
/*background: $accent;*/
/*}*/

/*.steps {*/
/*display: flex;*/
/*padding: 0 20px 20px 20px;*/
/*}*/

/*.step {*/
/*width: 33%;*/
/*padding: 20px;*/
/*opacity: 0.4;*/

/*img {*/
/*padding: 10px;*/
/*height: 170px;*/
/*margin: 0 auto;*/
/*}*/

/*&.currentStep {*/
/*opacity: 1;*/

/*.action {*/
/*cursor: pointer;*/
/*}*/
/*}*/

/*.action {*/
/*display: inline-block;*/
/*margin: 10px 0;*/
/*color: #fff;*/
/*background: $accent;*/
/*padding: 12px 16px;*/
/*font-size: 14px;*/
/*text-transform: uppercase;*/
/*font-weight: 500;*/
/*border-radius: 5px;*/
/*cursor: default;*/
/*}*/
/*}*/

