@import '~styles/variables';
@import '~styles/mixins';

.root {
  @include cellborder($grey2);
  z-index: 9;
  font-size: 12px;
  color: $grey5;
  overflow: hidden;
  display: flex;
  flex: 1;

  .value {
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    padding: 15px 20px;
    display: inline-block;
  }

  input {
    width: 100%;
    height: 100%;
    padding: 15px 20px;
    background: none;
    border: 0;
  }

  select {
    appearance: none;
    width: 100%;
    height: 100%;
    padding: 15px 20px;
    background: none;
    border: 0;
  }

  &.null {
    .value {
      color: $grey3;
      font-style: italic;
    }
  }

  &.editing {
    @include cellborder($accent-blue);
    z-index: 10;
  }

  &.invalid {
    @include cellborder(#F5A623);
    z-index: 10;
  }

  .loading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      fill: $grey3;
    }
  }
}
